.gButton {
    width:100px;
    background-color:#4D90FE;
    border:1px solid #3079ED;
    border-radius:4px;
    padding:10px;
    margin:10px 5px;
    padding-right:10px;
    padding-left:10px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#fff;
    white-space:nowrap;
    display:block;
    text-align:center;
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
  }

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .g-signin2{
    width: 100%;
  }
  
  .g-signin2 > div{
    margin: 0 auto;
  }

  .hide{
    display: none;
    }
    
  .show{
    display: inline-block;
    margin-right:5px;
    }

  .image-placeholder {
      background-color: #eee;
      display: flex;
      height: 180px;
      margin: 5px;
      width: 260px;
  }
  
  .image-placeholder > h4 {
      align-self: center;
      text-align: center;
      width: 100%;
  }

 input[type="submit"] {
  width:100px;
  background-color:#4D90FE;
  border:1px solid #3079ED;
  border-radius:4px;
  padding:10px;
  margin:10px 5px;
  padding-right:10px;
  padding-left:10px;
  font-size:12px;
  font-family:Arial;
  font-weight:bold;
  color:#fff;
  white-space:nowrap;
  display:block;
  text-align:center;
}